.hero {
  background-color: $blue;
  background: url("../img/hero_banner.jpg") center center / cover no-repeat;
  height: 100vh;
  min-height: rem(650px);
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;

  @include tablets {
    background: url("../img/hero_banner_tablet.jpg") center center / cover no-repeat;
  }
  
  @include phones {
    background: url("../img/hero_banner_mobile.jpg") center center / cover no-repeat;
  }

  
  &:before {
    content: "";
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(#1968B1, .5);
  }

}

.hero__title-section {
  width: 42%;

  @include tablets {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}


.hero__icons-section {
  @include tablets {
    display: none;
  }
}


.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: rem(28px) 0 rem(45px);

  @include tablets {
   padding: 0; 
  }
}

.hero__main-title {
  font-size: rem(48px);
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: rem(10px);
  text-transform: uppercase;
  max-width: rem(665px);

  @include phones {
    font-size: rem(40px);
    max-width: rem(415px);
  }
}

.hero__title-desc {
  font-size: rem(21px);
  margin-bottom: rem(40px);
}