.btn {
  font-size: rem(16px);
  font-weight: 800;
  text-transform: uppercase;
  padding: rem(21px) rem(41px);
  border-radius: rem(100px);
  line-height: 1;
  text-decoration: none;
  border: none;
  margin-right: rem(22px);

  &--theme--yellow {
   background: #FEDB3F;
    color: #000000;
    transition: 1s;

    &:hover {
      color: #FEDB3F;
      background: #000000;
      transition: 1s;
    }
  }
}

.btn--theme--transparent {
  background: none;
   color: #fff;
   transition: 1s;
  text-transform: none;
  font-weight: lighter;
  padding: 0;
  border: none;

  &:hover {
    color: #FEDB3F;
    transition: 1s;
  }
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
}

  .button__close {
    position: absolute;
    top: rem(42px);
    right: rem(42px);
  }


