.feature {
  display: flex;
  align-items: center;
}

.feature__icon {
  width: rem(41px);
  height: rem(41px);
  margin-right: rem(11px);
  fill: #fff;

  &:hover {
    fill: #FEDB3F;
    transition: .3s;
  }
}

.feature__text {
  font-size: rem(17px);
  font-weight: bold;
  max-width: rem(90px);
}