.section-form {
  background: url('../img/cta.jpg') center center / cover no-repeat;

  @include tablets {
    background: url("../img/cta_tablet.jpg") center center / cover no-repeat;
  }
  
  @include phones {
    background: url("../img/cta_mobile.jpg") center center / cover no-repeat;
  }
  color: white;
}

.form {
  display: flex;

  @include tablets {
    padding: 0 19%;
    flex-direction: column;
  }

  @include phones {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: rem(26px);

  &:last-child{
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
    gap: rem(15px);
    margin-bottom: rem(15px);
    &:last-child {
        margin-bottom: 0;
    }
}

.form__block {
  flex: 1;

  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  font-family: 'Open sans';
  width: 100%;
  border-radius: rem(4px);
  padding: rem(18px) rem(11px);
  border: solid rem(3px) transparent;
  outline: none;
  margin-bottom: rem(15px);

&--textarea {
  height: rem(171px);
  resize: none;

  @include tablets {
    height: rem(80px); 
  }
}

  &:focus {
    border-color: #FFD517;
}

@include tablets {
  padding: rem(10px) rem(8px);
}
}

.form__label {
  flex-grow: 1;
}

.form__title {
  margin-bottom: rem(5px);
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem(40px);

  @include phones {
    justify-content: center;
}
}

.form__btns {
  display: flex;
 
  @include phones {
    justify-content: center;
  }
}
