.menu {
margin: 0 rem(30px);
padding-top: rem(9px);

  @include tablets {
    display: none;
  }

  &--column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.menu__list {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.menu__item {
  margin-right: rem(22px);
  margin-bottom: rem(10px);
 
   &:last-child{
     margin-right: 0;
   }
 }
 
 .menu__link {
   text-decoration: none;
   font-size: rem(18px);
   font-weight: bold;

   &:hover {
    color:  #FEDB3F;
    transition: 1s;
  }
 }